$primary-green: #009f5b;
$secondary-green: #39bf86;

$primary-blue: #085896;
$secondary-blue: #3f83b7;

$primary-orange: #e88500;
$secondary-orange: #ffb24c;

$primary-red: #e84200;
$secondary-red: #ff7f4c;

$black: #111111;
